<%- include("../common/header") %>
<%- include("../common/menu") %>
        

        
        <main class=" img-thumbnail  container-fluid  " >

                
                
                
                
                
                
                
                
                <div class="mt-5 container-fluid">
                        <div class=" container">


                        <div class="row">

                                  <div class="col">
                                        <img src="./img/abs.png" class="img-thumbnail  rounded mx-auto d-block" width="80%" height="80%" alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>

                                  <div class="col">
                                        <img src="./img/abs.png" class="img-thumbnail  rounded mx-auto d-block" width="80%" height="80%" alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>
                        </div>
                        <div class="row">

                                  <div class="col">
                                        <img src="./img/abs.png" class="img-thumbnail  rounded mx-auto d-block" width="80%" height="80%" alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>

                                  <div class="col">
                                        <img src="./img/abs.png" class="img-thumbnail  rounded mx-auto d-block" width="80%" height="80%" alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>
                        </div>
                        <div class="row">

                                  <div class="col">
                                        <img src="./img/abs.png" class="img-thumbnail  rounded mx-auto d-block" width="80%" height="80%" alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>

                                  <div class="col">
                                        <img src="./img/abs.png" class="img-thumbnail  rounded mx-auto d-block" width="80%" height="80%" alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>
                        </div>
                        <div class="row">

                                  <div class="col">
                                        <img src="./img/abs.png" class="img-thumbnail  rounded mx-auto d-block" width="80%" height="80%" alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>

                                  <div class="col">
                                        <img src="./img/abs.png" class="img-thumbnail  rounded mx-auto d-block" width="80%" height="80%" alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>
                        </div>







                              </div>
                        
                       

              


       
       
       
        
</div>
                       
        </main>

     <%- include("../common/footer")%> 