<%- include("../common/header") %>
<%- include("../common/menu") %>
        













        
        <main class="   container-fluid  " >




            






            

                
                <div class="animate__animated animate__slideInLeft">

                
                <h2 class="my-2 text-center fonte text-info">Digital art galery</h2>
                
            </div>
                
                
                
                <div class="my-2 container-fluid">
                        <div class=" container">


                        <div class=" row">

                                  <div class="col"style="width: 38rem;">
                                        <img src="./img/escultura.png" class="img-thumbnail  rounded mx-auto d-block"  alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>

                                  <div class="col " style="width: 38rem;">
                                        <img src="./img/vila.png" class="img-thumbnail  rounded mx-auto d-block"  alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>
                        </div>
                        <div class=" row">

                                  <div class="col"style="width: 38rem;">
                                        <img src="./img/vila2.png" class="img-thumbnail  rounded mx-auto d-block"  alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>

                                  <div class="col " style="width: 38rem;">
                                        <img src="./img/vila3.png" class="img-thumbnail  rounded mx-auto d-block"  alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>
                        </div>
                        <div class="row">

                                  <div class="col" style="width: 38rem;">
                                        <img src="./img/porto.png" class="img-thumbnail  rounded mx-auto d-block"  alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>

                                  <div class="col" style="width: 38rem;">
                                        <img src="./img/abs2.png" class="img-thumbnail  rounded mx-auto d-block"  alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>
                        </div>
                        <div class="row">

                                  <div class="col" style="width: 38rem;">
                                        <img src="./img/beiramar.png" class="img-thumbnail  rounded mx-auto d-block"  alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>

                                  <div class="col" style="width: 38rem;">
                                        <img src="./img/gambito.png" class="img-thumbnail  rounded mx-auto d-block"  alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>
                        </div>
                        <div class="my-5 row">

                                  <div class="col" style="width: 38rem;">
                                        <img src="./img/retratonaima.png" class="img-thumbnail  rounded mx-auto d-block"  alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>

                                  <div class="col" style="width: 38rem;">
                                        <img src="./img/retratotab.png" class="img-thumbnail  rounded mx-auto d-block"  alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>
                        </div>
                        <div class="my-5 row">

                                  <div class="col" style="width: 38rem;">
                                        <img src="./img/vila2mont.png" class="img-thumbnail  rounded mx-auto d-block"  alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>

                                  <div class="col" style="width: 38rem;">
                                        <img src="./img/naturezamorta.png" class="img-thumbnail  rounded mx-auto d-block"  alt="vila">
                                        <p class="fonte text-info text-center pt-3">vila</p>
                                    
                                  </div>
                        </div>







                              </div>
                        
                       

              


       
       
       
        
</div>
                       
        </main>

     <%- include("../common/footer")%> 