<%- include("../common/header") %>
<%- include("../common/menu") %>
        

        
        <main class="  container-fluid  " >

                
                

                  
              
                  
                
               
                
<div class="container-fluid">


       
       <img src="./img/vila.png" class="rounded mx-auto d-block" width="45%" height="45%" alt="vila">
       
       <p class="fonte text-info text-center pt-3">vila</p>
       
       <img src="./img/vila2.png" class="rounded mx-auto d-block" width="45%" height="45%" alt="vila">
       
       <p class="fonte text-info text-center pt-3">vila</p>
       
       <img src="./img/vila3.png" class="rounded mx-auto d-block" width="45%" height="45%" alt="vila">
       
       <p class="fonte text-info text-center pt-3">vila</p>
       
       <img src="./img/abs.png" class="rounded mx-auto d-block" width="45%" height="45%" alt="vila">
       
       <p class="fonte text-info text-center pt-3">vila</p>
        
</div>
                       
        </main>

     <%- include("../common/footer")%> 