<%- include("../common/header") %>
<%- include("../common/menu") %>

    <main class="fonte  container-fluid">
      
      <div class=" shadow my-3 card  mx-auto d-block" style="width: 22rem;">
        <img src="./img/bluebird.png" class="card-img-top mx-auto d-block " alt="..." style="width: 6rem;">
        <div class="card-body container ">
          <div class="text-center mx-auto d-block animate__animated animate__flash animate__infinite">

            <h5 class="card-title text-warning ">Quer me contratar?</h5>
          </div>

          <div class="text-center mx-auto d-block">
            <p class="card-text">Gostou do meu trabalho?
              Estou disponivel para contrataçoes ou jobs freelancer. Vamos nos conectar!</p>

            <a id="btnAtencao" href="contatosubmit" class=" mt-4  shadow btn btn-warning ">Entrar em contato comigo</a>
          </div>
        </div>
      </div>




    </main>

    <%- include("../common/footer")%>