<%- include("../common/header") %>
<%- include("../common/menu") %>

        
        <main class="fonte  container-fluid" >

                
                
               
               
               

               <div class=" shadow my-3 card  mx-auto d-block" style="width: 16rem;">
                     <img src="./img/bluebird.png" class="card-img-top" alt="..."style="width: 6rem;">
                     <div class="card-body ">
                       <div class="animate__animated animate__flash animate__infinite">

                       <h5 class="card-title text-info ">Quer me contratar?</h5>

                      </div>
                       <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                       <a id="btnAtencao" href="contatosubmit" class=" mt-4 btn btn-secondary ">Entrar em contato comigo</a>
                     </div>
                   </div>
               
               
              
                       
        </main>

        <%- include("../common/footer")%> 