<%- include("../common/header") %>
<%- include("../common/menu") %>

        
        <main class="fonte  container-fluid" >

                
                
               
               
               

               <div class=" shadow my-3 card  mx-auto d-block" style="width: 22rem;">
                     <img src="./img/bluebird.png" class="card-img-top mx-auto d-block " alt="..."style="width: 12rem;">
                     <div class="card-body ">
                       <div class="animate__animated animate__flash animate__infinite">

                       <h5 class="card-title text-info ">Quer me contratar?</h5>

                      </div>
                       <p class="card-text">Gostou do meu trabalho? Quer dersenvolver algum projeto?
                         Estou disponivel para contrataçoes ou jobs freelancer. Vamos nos conectar!</p>
                       <a id="btnAtencao" href="contatosubmit" class=" mt-4 border-secondary shadow btn btn-info ">Entrar em contato comigo</a>
                     </div>
                   </div>
               
               
              
                       
        </main>

        <%- include("../common/footer")%> 