
body{
        background-color: #F2F2F0;
}

.bck{
        background-color: #010D26;
       flex-grow:1;
        
}

.borda{
        border-width: 2px;
        border-color: rgb(219, 52, 10);
        border-style: solid;
}
.fonte{
        font-family: 'Space Mono', monospace;
       /* font-family: 'Merriweather', serif;
font-family: 'Tapestry', cursive;
font-family: 'Water Brush', cursive;*/
}

.menu_bar{
        background-color: white;
}
a{
        text-decoration: none;
       
}
.animate__animated.animate__bounce {
        --animate-duration: 0.3s;
      }
.animate__animated.animate__flash{
        --animate-duration: 3s;
        
}
.dim {
        width: 20em;
        
}