


.bck{
        background-color: black;
}
.borda{
        border-width: 1px;
        border-color: black;
        border-style: solid;
}
.fonte{
        font-family: 'Space Mono', monospace;
       /* font-family: 'Merriweather', serif;
font-family: 'Tapestry', cursive;
font-family: 'Water Brush', cursive;*/
}

.menu_bar{
        background-color: #F2F2F2;
}
a{
        text-decoration: none;
       
}
