                <%- include("../common/header") %>

                
<main  class="   container-fluid  " >


        <div id="monitor" class=" bck card-body card border-secondary shadow-lg">
        
        <h3 id="textoIntro" class="fonte text-info  animate__animated animate__bounceInRight ">projeto3</h3>

                <%- include("../common/menuMonitor") %>
                <%- include("../common/canvas") %> 

    
</main>