<%- include("../common/header") %>  
<%- include("../common/menu") %>

        
        <main class="img-thumbnail container-fluid " >

                
                <div class="container-fluid my-5">

                
               
               <img class="my-5 rounded mx-auto d-block" src="./img/retratob.png" width="28%" height="28%" alt="">
               
               <h2 class="text-center text-info">Ola, eu me chamo Rodrigo Melo</h2>
               <p class="text-center fs-6 fonte">Sou desenvolvedor fullstack e artista plastico ...sit amet consectetur adipisicing elit. 
                      Numquam excepturi quod magni, beatae aspernatur distinctio ad? Labore distinctio 
                      cum dicta vel facere minima reiciendis quia praesentium. Quae ipsa saepe cum.
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, mollitia excepturi,
                       sapiente aut laudantium officia numquam fugit eius est consectetur aliquam, voluptates repellat? Id hic ullam aspernatur nam totam sit!
               </p>

               
              </div>

          <ul class=" nav justify-content-center">
                
                <li class="nav-item" >
                        <img src="./img/js.png" alt=""style="width: 4rem;">
                </li>
                <li class="nav-item" >
                        <img src="./img/html.png" alt=""style="width: 4rem;">
                </li>
                <li class="nav-item" >
                        <img src="./img/css.png" alt=""style="width: 4rem;">
                </li>
                <li class="nav-item" >
                        <img src="./img/react.png" alt=""style="width: 4rem;">
                </li>
                <li class="nav-item" >
                        <img src="./img/node.png" alt=""style="width: 4rem;">
                </li>
                <li class="nav-item" >
                        <img src="./img/boot.png" alt=""style="width: 4rem;">
                </li>
          </ul>
                       
        </main>

        <%- include("../common/footer")%> 