<%- include("../common/header") %>  
<%- include("../common/menu") %>

        
        <main class="img-thumbnail container-fluid " >

                
                
               
               <img class=" rounded mx-auto d-block" src="./img/retratob.png" width="25%" height="25%" alt="">
               
               <h1 class="text-center text-info">Dev Rodrigo Melo</h1>
               <p class="text-center fs-6 fonte">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                      Numquam excepturi quod magni, beatae aspernatur distinctio ad? Labore distinctio 
                      cum dicta vel facere minima reiciendis quia praesentium. Quae ipsa saepe cum.
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, mollitia excepturi,
                       sapiente aut laudantium officia numquam fugit eius est consectetur aliquam, voluptates repellat? Id hic ullam aspernatur nam totam sit!
               </p>

               
              
                       
        </main>

        <%- include("../common/footer")%> 