<%- include("../common/header") %>  
<%- include("../common/menu") %>

        
        <main class="img-thumbnail container-fluid " >

                
                
               
               
               <h1 class="text-center">Sobre</h1>

               
              
                       
        </main>

        <%- include("../common/footer")%> 