<%- include("../common/header") %>  
<%- include("../common/menu") %>

        
        <main class=" container-fluid " >

                
                <div class="container-fluid my-3">

                
               <div>

                       <img class="my-2 rounded mx-auto d-block" src="./img/retratob.png" style="width: 12em;" alt="">
                </div>
               <div class="container">


              
               <h2 class="text-center text-dark">Ola, eu me chamo Rodrigo Melo</h2>
               <p class="text-center fs-6 fonte p-3">Sou desenvolvedor fullstack e artista plastico, fico feliz que você esteja visitando meu portifolio.
                       Estou estudando e aprimorando cada vez mais meus conhecimentos nas tecnologias de desenvolvimento, tanto de aplicativos mobile quanto web.
                       Aqui abaixo estão algumas das tecnologias que eu conheço.
                      
               </p>

        </div>
              </div>

          <ul class=" nav justify-content-center" >
                
                <li class="nav-item" >
                        <img src="./img/js.png" alt=""style="width: 4rem;">
                </li>
                <li class="nav-item" >
                        <img src="./img/html.png" alt=""style="width: 4rem;">
                </li>
                <li class="nav-item" >
                        <img src="./img/css.png" alt=""style="width: 4rem;">
                </li>
                <li class="nav-item" >
                        <img src="./img/react.png" alt=""style="width: 4rem;">
                </li>
                <li class="nav-item" >
                        <img src="./img/node.png" alt=""style="width: 4rem;">
                </li>
                <li class="nav-item" >
                        <img src="./img/boot.png" alt=""style="width: 4rem;">
                </li>
          </ul>
                       
        </main>

        <%- include("../common/footer")%> 