<%- include("../common/header") %>  
<%- include("../common/menu") %>

        
        <main class=" container-fluid fonte " >

                
                <div class="container-fluid my-3">

                
               <div>

                       <img class="my-2 rounded mx-auto d-block" src="./img/retratob.png" style="width: 12em;" alt="">
                </div>
               <div class="container">


              
               <h2 class="text-center text-dark">Ola, eu me chamo Rodrigo Melo</h2>
               <p class="text-center fs-6 fonte p-3">Sou desenvolvedor fullstack e artista plastico, fico feliz que você esteja visitando meu portifolio.
                       Estou estudando e aprimorando cada vez mais meus conhecimentos nas tecnologias de desenvolvimento, tanto de aplicativos mobile quanto web.
                       Aqui abaixo estão algumas das tecnologias que eu conheço.
                      
               </p>

        </div>
              </div>

          <ul class=" nav justify-content-center" >
                
                <li class="nav-item" >
                        <img src="./img/js.png" alt=""style="width: 4rem;">
                </li>
                <li class="nav-item" >
                        <img src="./img/html.png" alt=""style="width: 4rem;">
                </li>
                <li class="nav-item" >
                        <img src="./img/css.png" alt=""style="width: 4rem;">
                </li>
                <li class="nav-item" >
                        <img src="./img/react.png" alt=""style="width: 4rem;">
                </li>
                <li class="nav-item" >
                        <img src="./img/node.png" alt=""style="width: 4rem;">
                </li>
                <li class="nav-item" >
                        <img src="./img/boot.png" alt=""style="width: 4rem;">
                </li>
          </ul>


<div class="my-3 container ">



       

                <a href="/img/cv.pdf" download>
                        <svg class="mx-auto d-block text-info" xmlns="http://www.w3.org/2000/svg" width="86" height="86" fill="currentColor" class="bi bi-file-earmark-person" viewBox="0 0 16 16">
                                <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/>
                        </svg>
                        <h3 class="mx-auto d-block text-center text-dark">Baixar meu Curriculo</h3>
                  
                </a>
        
</div>
          

                

       
        
</div>
          
          




                       
        </main>

        <%- include("../common/footer")%> 