<%- include("../common/header") %>

        

        
        <main class="   container-fluid  " >







               

               
<div >




               






        <div class="mb-5 my-3 card">





              <div id="monitor" class=" bck card-body card border-secondary shadow-lg">
                



                  <h1 id="textoIntro" class="fonte text-info  animate__animated animate__bounceInRight ">Usando o Canvas js</h1>

                                    <%- include("../common/menuMonitor") %>
<h4 class="text-danger fonte">[canvas]</h4>
                                    <div class=" container">
                                        <canvas class="bck mx-auto d-block my-3" id="myCanvas" width="400px" height="400px" style="border:1px solid white"></canvas>
                                
                                </div>
                      
              </div>




              
        </div>




                  






                 
        </main>




     <%- include("../common/footer")%> 