<%- include("../common/header") %>

        

        
        <main  class="   container-fluid  " >


      

              <div id="monitor" class=" bck card-body card border-secondary shadow-lg">
                

                  <h3 id="textoIntro" class="fonte text-info  animate__animated animate__bounceInRight ">Usando o Canvas js</h3>

                                    <%- include("../common/menuMonitor") %>


                                <div class=" container-fluid">
                                        <ul class="nav">
                                                <li class="nav-item  mx-4">
                                                        <h4 class="info text-danger fonte ">mouse.x</h4>
                                                </li>

                                                <li class="nav-item mx-4 ">
                                                        <h4 class="info2 text-danger fonte "> mouse.y</h4>
                                                </li>
                                                <li class="nav-item mx-4">
                                                        <h4 class="info3 text-danger fonte "> mouse.y</h4>
                                                </li>
                                                
                                              </ul>
                                        <div class="container">

                                                <canvas class="bck mx-auto d-block  " id="myCanvas"  style="border:1px solid #5600e0"></canvas>
                                        <img id="ship" src="./img/ship.png" alt="">
                                        </div>
                                </div>
                      
             




    
            
        </main>