<%- include("../common/header") %>
<%- include("../common/menu") %>
        
<main id="mode" class="  container-fluid  " >

   

        <div id="alerta"   class=" p-3 my-5 mx-5 rounded  shadow-sm" >
        <h2  class=" text-dark text-center fonte">Desenvolvedor fullstack e artista digital</h2>
        </div>           

                  
    <div class="fonte   px-5 container-fluid">

        <div class=" row">

        <div class=" col container-fluid" >
        <div class="shadow-sm img-thumbnail  rounded mx-auto d-block " style="width: 24rem;">
        <a href=" arte"  >
            <h3 class="my-3 text-center text-dark">Minha Arte digital</h3>
        <img src="./img/vila3.png" class="p-3 card-img-top" alt="...">
        <div class=" card-body">
        <p class="py-3 card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </a>
        </div>
        </div>
        </div>
                


        <div class=" col container-fluid">
        <div class="shadow-sm img-thumbnail  rounded mx-auto d-block " style="width: 24rem;">
        <a href="sobre">  
        <img src="./img/retratob.png" class="p-3 card-img-top" alt="...">
        <div class="card-body">
        <h3 class="text-center text-dark">Quem eu sou?</h3>
        <p class="py-3 card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        </a>
        </div>
        </div>
        </div>


        <div class="my-5 row">

        <div class="  col container-fluid">
        <div class="shadow-sm img-thumbnail  rounded mx-auto d-block " style="width: 24rem;">
        <a href="dev">
        <div class="card-body">
        <h3 class="text-center text-dark">Aplicações que eu desenvolvi</h3>
        <p class="py-3 card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        </div>
        </a>
        </div>
        


        <div class=" col container-fluid">
        <div class="shadow-sm img-thumbnail rounded mx-auto d-block " style="width: 24rem;">
        <a href="contato">   
        <div class="card-body">
        <h3 class="text-center text-dark">Entra em contato comigo</h3>
        <p class="py-3 card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        </div>
        </a>
        </div>

    </div>
                       
        </main>

     <%- include("../common/footer")%> 