<%- include("../common/header") %>


<%- include("../common/menu") %>



<main id="mode" class="my-5  container-fluid  " >
    
   
    
   

                 

                  
    <div class="fonte my-2  px-5 container-fluid">

        <div class=" row">

        <div class=" col container-fluid" >
        <div  class=" dim shadow-sm img-thumbnail  rounded mx-auto d-block ">
        <a href=" arte"  >
            <h3 class="my-3 text-center text-dark">Minha Arte digital</h3>
        <img src="./img/vila3.png" class="p-3 card-img-top" alt="...">
        <div class=" card-body">
        <p class="py-3 card-text text-dark">Conheça aqui um pouco dos meus rabiscos digitais.<br>Painsagens, retratos, vetores e pixel art...</p>
        </a>
        </div>
        </div>
        </div>
                


        <div class=" col container-fluid">
        <div class=" dim shadow-sm img-thumbnail  rounded mx-auto d-block " >
        <a href="sobre">  
        <img src="./img/retratob.png" class="p-3 card-img-top" alt="...">
        <div class="card-body">
        <h3 class="text-center text-dark">Quem eu sou?</h3>
        <p class="py-3 card-text text-dark">E porque estou aqui...</p>
        </div>
        </a>
        </div>
        </div>
        </div>


        <div class="my-5 row">

        <div class="  col container-fluid">
        <div class="dim  shadow-sm img-thumbnail  rounded mx-auto d-block ">
        <a href="dev">
        <div class="card-body">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-braces-asterisk text-info" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.114 8.063V7.9c1.005-.102 1.497-.615 1.497-1.6V4.503c0-1.094.39-1.538 1.354-1.538h.273V2h-.376C2.25 2 1.49 2.759 1.49 4.352v1.524c0 1.094-.376 1.456-1.49 1.456v1.299c1.114 0 1.49.362 1.49 1.456v1.524c0 1.593.759 2.352 2.372 2.352h.376v-.964h-.273c-.964 0-1.354-.444-1.354-1.538V9.663c0-.984-.492-1.497-1.497-1.6ZM14.886 7.9v.164c-1.005.103-1.497.616-1.497 1.6v1.798c0 1.094-.39 1.538-1.354 1.538h-.273v.964h.376c1.613 0 2.372-.759 2.372-2.352v-1.524c0-1.094.376-1.456 1.49-1.456v-1.3c-1.114 0-1.49-.362-1.49-1.456V4.352C14.51 2.759 13.75 2 12.138 2h-.376v.964h.273c.964 0 1.354.444 1.354 1.538V6.3c0 .984.492 1.497 1.497 1.6ZM7.5 11.5V9.207l-1.621 1.621-.707-.707L6.792 8.5H4.5v-1h2.293L5.172 5.879l.707-.707L7.5 6.792V4.5h1v2.293l1.621-1.621.707.707L9.208 7.5H11.5v1H9.207l1.621 1.621-.707.707L8.5 9.208V11.5h-1Z"/>
              </svg>
        <h3 class="text-center text-dark ">Aplicações que eu desenvolvi</h3>
        <img src="./img/prj1.png" class="p-3 card-img-top" alt="...">
        <p class="py-3 card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        </div>
        </a>
        </div>
        


        <div class=" col container-fluid">
        <div class="dim shadow-sm img-thumbnail rounded mx-auto d-block " >
        <a href="contato">   
        <div class="card-body">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-envelope-paper-heart text-warning" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v1.133l.941.502A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765L2 3.133V2Zm0 2.267-.47.25A1 1 0 0 0 1 5.4v.817l1 .6v-2.55Zm1 3.15 3.75 2.25L8 8.917l1.25.75L13 7.417V2a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v5.417Zm11-.6 1-.6V5.4a1 1 0 0 0-.53-.882L14 4.267v2.55ZM8 2.982C9.664 1.309 13.825 4.236 8 8 2.175 4.236 6.336 1.31 8 2.982Zm7 4.401-4.778 2.867L15 13.117V7.383Zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734Z"/>
              </svg>
        <h3 class="text-center text-dark">Entra em contato comigo</h3>
        <p class="py-3 card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        </div>
        </a>
        </div>

    </div>
                       
        </main>

     <%- include("../common/footer")%> 