<%- include("../common/header") %>
<%- include("../common/menu") %>
        

        
        <main class="  container-fluid  " >

                
                

                  
              
                  
                
               
                
<div class="container-fluid">


        <img src="./img/vila3.png" class="rounded mx-auto d-block" width="45%" height="45%" alt="vila">
        <a  href="#" style="text-decoration: none;">
        <p class="fonte text-info text-center pt-3">vila</p>
        </a>    
        
</div>
                       
        </main>

     <%- include("../common/footer")%> 