<%- include("../common/header") %>
<%- include("../common/menu") %>
        

        
        <main class=" img-thumbnail container-fluid  " >

                
                

                  
              
                  
                
               
                
<div class=" container-fluid">


        <img src="./img/vila.png" class=" img-thumbnail rounded mx-auto d-block mt-3" width="45%" height="45%" alt="vila">
        <a  href="arte" style="text-decoration: none;">
        <p class="fonte text-info text-center pt-3">arte</p>
        </a> 
        
        <div class="card rounded mx-auto d-block mb-3" style="width: 18rem;">
                <img src="./img/escultura.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        
        
</div>
                       
        </main>

     <%- include("../common/footer")%> 