<%- include("../common/header") %>
<%- include("../common/menu") %>
        


        <main class=" img-thumbnail container-fluid  " >

                
                <h1 class="my-4 text-info text-center fonte">Developer Fullstack & Digital Artist</h1>

                  
              
                  
                
               
                
<div class="fonte  px-5 container-fluid">



       
        
        
        <div class=" row">

        

        
                <div class="mt-5 col container-fluid">
                        <div class=" img-thumbnail card rounded mx-auto d-block " style="width: 18rem;">
                           <a href=" arte"  >
                                <img src="./img/vila3.png" class="card-img-top" alt="...">

                                <div class=" card-body">
                                        
                                <h1 class="text-center text-info">Digital art</h1>
                                             
                                <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                           </a>
                        </div>
                </div>
              
        </div>
        


<div class="mt-5 col container-fluid">
        <div class="img-thumbnail card rounded mx-auto d-block " style="width: 18rem;">
            <a href="#">  

                
                <img src="./img/escultura.png" class="card-img-top" alt="...">
                <div class="card-body">
                        <h1 class="text-center text-info">Blog</h1>
                  <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
            </a>
        </div>
</div>

</div>
        <div class="mt-5 row">

        
        <div class="col container-fluid">
                <div class="img-thumbnail card rounded mx-auto d-block " style="width: 18rem;">
                        <a href="dev">

                        
                        <div class="card-body">
                                <h1 class="text-center text-info">Aplicativos e web design</h1>
                          <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                      </div>
                </a>
        </div>
        


<div class="mt-5 col container-fluid">
        <div class="img-thumbnail card rounded mx-auto d-block " style="width: 18rem;">
                <a href="dev">   
                <div class="card-body">
                        <h1 class="text-center text-info">Alguns trabalhos profissionais</h1>
                  <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </a>
</div>

</div>
                       
        </main>

     <%- include("../common/footer")%> 