<%- include("../common/header") %>
<%- include("../common/menu") %>

        
        <main class="fonte  container-fluid" >

                
                
               
               
               

              <h1 class="text-center text-danger">!EM CONTRUÇÃO!</h1>


              <div class="card shadow p-3 mx-auto my-5"style="width:23em">

              <form action="/contatosubmit" method="post">

             

              <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Email address</label>
                  <input name="email_form" type="email" class="form-control" id="exampleFormControlInput1" placeholder="e-mail">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                  <textarea name="msg_form" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  
                  <button id="alertaMsg" class="my-3 btn btn-secondary mx-auto d-block">Enviar</button>
                </div>
               
              </form>
            </div>          
        </main>

        <%- include("../common/footer")%> 