<%- include("../common/header") %>
<%- include("../common/menu") %>

        
        <main class="fonte img-thumbnail container-fluid" >

                
                
               
               
               

              <h1 class="text-center text-danger">!EM CONTRUÇÃO!</h1>


              <div class="card shadow p-3 mx-auto my-5"style="width:23em">

              

              <div class="mb-3">
                  <label for="exampleFormControlInput1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="e-mail">
                </div>
                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  <a href="home" id="alerta" class="my-3 btn btn-secondary mx-auto d-block "  >Enviar</a>
                </div>
               
              
            </div>          
        </main>

        <%- include("../common/footer")%> 