<%- include("../common/header") %>  
<%- include("../common/menu") %>

        
        <main class="img-thumbnail container-fluid " >

                
                
               
               
               <h1 class=" my-4 fonte text-info text-center">Portifolio de Desenvolvimento web</h1>

<div class="fonte container-fluid card"> 


               <div class=" mt-5 row">
  <div class="col-sm-6 ">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-secondary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class=" btn btn-secondary ">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
               <div class="mt-5 row">
  <div class="col-sm-6 mb-3 ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-secondary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class=" btn btn-secondary ">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
               <div class="mt-5 row">
  <div class="col-sm-6 mb-3 ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-secondary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 ">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class=" btn btn-secondary ">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

               
</div>          
                       
        </main>

        <%- include("../common/footer")%> 