<%- include("../common/header") %>  
<%- include("../common/menu") %>

        
        <main class=" container-fluid " >

                
                
               
               
               <h2 class=" my-5 fonte text-info text-center">Portifolio de Desenvolvimento web</h2>

<div class="fonte container-fluid "> 


               <div class="  mt-5 row">
  <div class="col-sm-6 ">
    <div class="shadow-sm p-3 mb-5 bg-body rounded  mb-3">
      <div class="card-body">
        <h5 class="card-title text-info">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#"  class="btn btn-secondary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 ">
    <div class="shadow-sm p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <h5 class="card-title text-info">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class=" btn btn-secondary ">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
               <div class="mt-5 row">
  <div class="col-sm-6 mb-3 ">
    <div class="shadow-sm p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <h5 class="card-title text-info">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-secondary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 ">
    <div class="shadow-sm p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <h5 class="card-title text-info">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class=" btn btn-secondary ">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
               <div class="mt-5 row">
  <div class="col-sm-6 mb-3 ">
    <div class="shadow-sm p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <h5 class="card-title text-info">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-secondary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class=" col-sm-6 mb-5 ">
    <div class="shadow-sm p-3  bg-body rounded">
      <div class="card-body">
        <h5 class="card-title text-info">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class=" btn btn-secondary ">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

               
</div>          
                       
        </main>

        <%- include("../common/footer")%> 