<%- include("../common/header") %>  
<%- include("../common/menu") %>

        
        <main class=" container-fluid " >

                
                
               
               <div class="animate__animated animate__slideInLeft">

               
               <h2 class="  my-5 fonte text-dark text-center">Portifolio de Desenvolvimento web</h2>
              </div>
<div class="fonte container-fluid "> 


               <div class="  mt-5 row">
  <div class="col-sm-6 ">
    <div class="shadow-sm p-3 mb-5 bg-body rounded  mb-3">
      <div class="card-body">
        <h5 class="card-title text-dark">Brincando com Canvas Js</h5>
        <img src="./img/prj1.png" class="p-3 card-img-top" alt="...">
        <p class="card-text">Alguns experimentos com codigos javascrip e arte. Renderizando formas atravez de codigos</p>
        <a href="projeto1"  class="btn btn-info">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 ">
    <div class="shadow-sm p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <h5 class="card-title text-dark">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="admin" class=" btn btn-info ">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
               <div class="mt-5 row">
  <div class="col-sm-6 mb-3 ">
    <div class="shadow-sm p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <h5 class="card-title text-dark">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="admin" class="btn btn-info">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6 ">
    <div class="shadow-sm p-3 mb-5 bg-body rounded">
      <div class="card-body">
        <h5 class="card-title text-dark">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="admin" class=" btn btn-info ">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
              

               
</div>          
                       
        </main>

        <%- include("../common/footer")%> 