<div class=" my-3 container-fluid">
                  <ul class="nav">
                          <li class="nav-item  mx-4">
                                  <h4 class="info text-danger fonte ">mouse.x</h4>
                          </li>

                          <li class="nav-item mx-4 ">
                                  <h4 class="info2 text-danger fonte "> mouse.y</h4>
                          </li>
                          <li class="nav-item mx-4">
                                  <h4 class="info3 text-danger fonte "> mouse.y</h4>
                          </li>
                          
                        </ul>
                  <div class="my-3 container">

                          <canvas class=" bck mx-auto d-block  " id="myCanvas"  style="border:1px solid #5600e0"></canvas>
                  <img id="ship" src="./img/ship.png" alt="">
                  </div>
          </div>

