<footer class="fonte shadow-sm pt-3 border-top bg-white  static-bottom   ">
        <a class="  nav-link fs-6 text-dark text-center" href="home">Web Page desenvolvida por Rodrigo Melo</a>
      </footer>

     
</body>
</html>