<footer class="fonte pt-3  bg-light static-bottom  bg-opacity-10 ">
        <a class="nav-link fs-6 text-info text-center" href="#">Web desenvolvida por Rodrigo Melo</a>
      </footer>
</body>
</html>