<footer class="fonte pt-3 border-top  static-bottom   ">
        <a class=" my-3 nav-link fs-6 text-dark text-center" href="#">Web Page desenvolvida por Rodrigo Melo</a>
      </footer>

     
</body>
</html>