<header class=" fonte   bg-dark container-fluid  static-top   pb-2  ">
                
        <ul class=" nav justify-content-center">
                
                <li class="nav-item">
                  <a class="  nav-link text-info"  href="home">Portifólio</a>
                </li>
                <li class="nav-item">
                  <a class="  nav-link text-info"  href="dev">{DevPortifolio}</a>
                </li>
                <li class="nav-item">
                  <a class="  nav-link text-info"  href="arte">{DigitalArt}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-info" href="sobre">Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-info" href="contato">Contato</a>
                </li>
                <li class="nav-item">
                  
                  <a class="nav-link  text-info" href="contato"><i class="bi bi-toggle-off">
                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor" class="bi bi-toggle-off" viewBox="0 0 16 16">
                        <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                    </svg>
                  </i></a>
                  <li class="text-info nav-item">
                   dark mode
                  </li>
                  
                </li>
              </ul>
</header>