<header class=" fonte    container-fluid  static-top   pb-2  ">
            <div class="mt-3">

              
        <ul class=" nav justify-content-center">
                
                <li  class=" nav-item">
                  <a id="menuHome"  class="  nav-link text-dark fs-5"  href="home">Portifólio</a>
                </li>
                <li   class="nav-item">
                  <a id="menuDev"  class="  nav-link text-dark fs-5"  href="dev">{DevPortifolio}</a>
                </li>
                <li  class="nav-item">
                  <a id="menuArte" class="  nav-link text-dark fs-5"  href="arte">{DigitalArt}</a>
                </li>
                <li class="nav-item">
                  <a id="menuSobre" class="nav-link text-dark fs-5" href="sobre">Sobre</a>
                </li>
                <li class="nav-item">
                  <a id="menuContato" class="nav-link  text-dark fs-5" href="contato">Contato</a>
                </li>
                <li class="nav-item">
                  
                  
                  
                </li>

                  
               
                    <li class="nav-item">

                      <a id="menuAdmin" class="nav-link  text-dark fs-5" href="admin">admin</a>
                    
                    </li>
                   
                      
              </ul>

            </div> 
</header>