<header class="   bg-dark container-fluid  fixed-top   ">
                
        <ul class="nav justify-content-center">
                
                <li class="nav-item">
                  <a class=" fonte     nav-link text-info"  href="home">HOME</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-info" href="sobre">SOBRE</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-info" href="contato">CONTATO</a>
                </li>
              </ul>
</header>