<header class=" fonte   bg-light container-fluid  static-top  bg-opacity-0 pb-2  ">
                
        <ul class="nav justify-content-center">
                
                <li class="nav-item">
                  <a class="  nav-link text-info"  href="home">Portifólio</a>
                </li>
                <li class="nav-item">
                  <a class="  nav-link text-info"  href="dev">{DevPortifolio}</a>
                </li>
                <li class="nav-item">
                  <a class="  nav-link text-info"  href="arte">Arte</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-info" href="sobre">Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-info" href="contato">Contato</a>
                </li>
              </ul>
</header>