<ul class="nav nav-tabs">
                  <li class="nav-item">
                    <a class="nav-link " aria-current="page" href="projeto1">Usando o canvas</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link " href="projeto2">Projeto 2</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link " href="projeto3">Projeto 3</a>
                  </li>
                  
                </ul>